body{
  margin: 0;
}
.container{
  display: flex;
  margin-top: 0;
}
h2{
  display:inline;
  text-shadow:5px 5px 10px #eee6ff;
  color: #854dff;
}
a{
  text-decoration: none;
  font-size: 150%;
  padding: 10px;
  color: #0052cc;
}
.logo{
  border-radius: 80%;
}
.allimages{
  border-radius: 8px;
  margin: 5px;
  transition: all 1s;
}
.allimages:hover{
  transform: scale(1.1);
}
