.navbar1{
  font-size: 25px;
  height: 60px;
  width: 950px;
  float:right;
}
h2{
  display:inline;
  text-shadow:5px 5px 10px #eee6ff;
  color: #854dff;
}
/*register&contact*/
ul{
  display:flex;
  list-style: none;
  float: right;
  margin: 0;
}
li{
  padding-left: 10px;
  padding-right: 10px;
  padding-top:10px;
}
a{
  text-decoration: none;
}
.allimages{
  border-radius: 8px;
  margin: 5px;
}
