.navbar1{
  font-size: 25px;
}
ul{
  display:flex;
  list-style: none;
  float: right;
  margin: 0;
}
li{
  padding-left: 10px;
  padding-right: 10px;
}
a{
  text-decoration: none;
}
.allimages{
  border-radius: 8px;
  margin: 5px;
}
