html{
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
}
nav{
  background-color: initial;
}
a{
  padding-left: 10px;
  text-decoration: none;
  font-size: 200%;
}
.cont{
  /* display: flex; */
  float: right;
  margin: 0;
  padding-right: 15px;
}
form{
  padding-left: 20px;
  padding-right: 20px;
  background-color: transparent;
}
footer{
  align-content: flex-end;
}
