html{
  background-image: url("photos/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
a{
  padding-left: 10px;
  text-decoration: none;
  font-size: 200%;
}
.cont{
  display: flex;
  float: right;
  margin: 0;
  padding-right: 15px;
}
form{
  padding-left: 20px;
  padding-right: 20px;
}
