body{
  background-image: url("photos/second.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
nav{
  background-color: initial;
  margin-top: 10px;
  margin-bottom: 30px;
  background: transparent;
}
a{
  padding-left: 10px;
  text-decoration: none;
  font-weight: bold;
  font-size: 170%;
  color: #0052cc;
}
img{
  border-radius: 80%;
  width:100px;
   height:100px;
}
.cont{
  float: right;
  margin: 0;
  padding-right: 15px;
}
form{
  padding-left: 20px;
  padding-right: 20px;
  background-color: transparent;
}
footer{
  align-content: flex-end;
   padding-bottom: 0;
}
